*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
    




.header{
    position: sticky;
    top: 0;
    height: 60px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}


.logo{
    margin-right: 20px;
margin-left:10px;
width:160px;
height: 55px;

}
  

.search{
    display: flex;
} 

.search-input{
    /* margin-left: 30px; */
    font-size: 14px;
    width: 400px;
    height: 45px;
    padding: 10px;
    border: none;
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}




.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.fa-magnifying-glass{
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
}

.fa-magnifying-glass:hover{
    cursor: pointer;
    transition: ease-in-out 0.2s;
    transform: scale(1.3);
}

.btns{
 margin-left: 30px;
 margin-right: 20px;
 width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 justify-content: space-around;
 font-size: 14px;
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btntext{
    margin-top: 10px;
}

.btn:hover{
    cursor: pointer;
    transition: ease-in-out 0.2s;
    transform: scale(1.3);
}

.fa-bars{
    font-size: 30px;
}



/* css for productbar */

.productbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 30px;
    font-size: 12px;
    color: white;
    position: sticky;
    top: 60px;
    z-index: 3;
}

.product:hover{
    cursor: pointer;
    color: red;
}



/* css for iphone16 image */

    








/* css for main products section */


.catagories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.box{
    font-size: 14px;
    margin: 30px;
    width: 20%;
    height: 320px;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.box:hover{
    transition: ease-in-out 0.1s;
    transform: scale(0.9);
    cursor: pointer;
    box-shadow: 0PX 0PX 10PX gray,
                0PX 0PX 20PX gray,
                0PX 0PX 30PX gray,
                0PX 0PX 40PX gray; 
}

.item{
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
}

.offerprice{
    margin: 5px;
    color: red;
}

.mrp{
    text-decoration: line-through;
    color: gray;
}



.offeravilabe{
    margin: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    color: green;
}

.fa-tag{
    margin-right: 5px;
}

fieldset{
    margin-top: 30px;
}

legend{
    color: grey;
    font-size: 25px;
    margin: auto;
}




.view{
    width: 100%;
    margin-top:10px ;
    margin-bottom:10px;
}

.viewall{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px gray;
    width: 100px;
    height: 35px;
    background-color: red;
    color: white;
    font-size: 15px;
}

.viewall:hover{
    transition: ease-in-out 0.2s;
    transform: scale(0.9);
    box-shadow: 0px 0px 10px gray;
    cursor: pointer;
}








/* images for smartphones */
 
.sp1{
    /* background-image: url(.sp1.jpg); */
    background-image: url(/img/sp1.jpg);
}

.sp2{
    background-image: url(/img/sp2.jpg);
}

.sp3{
    background-image: url(/img/sp3.jpg);
}

.sp4{
    background-image: url(/img/sp4.jpg);
}

.sp5{
    background-image: url(/img/sp5.jpg);
}

.sp6{
    background-image: url(/img/sp6.jpg);
}

.sp7{
    background-image: url(/img/sp7.jpg);
}

.sp8{
    background-image: url(/img/sp8.jpg);
}




/* images for televisions */

.tv1{
    background-image: url(/img/tv1.jpg);
}

.tv2{
    background-image: url(/img/tv2.jpg);
}

.tv3{
    background-image: url(/img/tv3.jpg);
}

.tv4{
    background-image: url(/img/tv4.jpg);
}

.tv5{
    background-image: url(/img/tv5.jpg);
}

.tv6{
    background-image: url(/img/tv6.jpg);
}

.tv7{
    background-image: url(/img/tv7.jpg);
}

.tv8{
    background-image: url(/img/tv8.jpg);
}




/* images for apple products */

.ip1{
    background-image: url(/img/ip1.jpg);
}

.ip2{
    background-image: url(/img/ip2.jpg);
}

.ip3{
    background-image: url(/img/ip3.jpg);
}

.ip4{
    background-image: url(/img/ip4.jpg);
}

.ip5{
    background-image: url(/img/ip5.jpg);
}

.ip6{
    background-image: url(/img/ip6.jpg);
}

.ip7{
    background-image: url(/img/ip7.jpg);
}

.ip8{
    background-image: url(/img/ip8.jpg);
}

.ip9{
    background-image: url(/img/ip9.jpg);
}

.ip10{
    background-image: url(/img/ip10.jpg);
}

.ip11{
    background-image: url(/img/ip11.jpg);
}

.ip12{
    background-image: url(/img/ip12.jpg);
}



/* images for laptops */

.lp1{
    background-image: url(/img/lp1.jpg);
}

.lp2{
    background-image: url(/img/lp2.jpg);
}

.lp3{
    background-image: url(/img/lp3.jpg);
}

.lp4{
    background-image: url(/img/lp4.jpg);
}

.lp5{
    background-image: url(/img/lp5.jpg);
}

.lp6{
    background-image: url(/img/lp6.jpg);
}

.lp7{
    background-image: url(/img/lp7.jpg);
}

.lp8{
    background-image: url(/img/lp8.jpg);
}



 /* images for smartwatches & earbuds */

 .se1{
    background-image: url(/img/se1.jpg);
}

.se2{
    background-image: url(/img/se2.jpg);
}

.se3{
    background-image: url(/img/se3.jpg);
}

.se4{
    background-image: url(/img/se4.jpg);
}

.se5{
    background-image: url(/img/se5.jpg);
}

.se6{
    background-image: url(/img/se6.jpg);
}

.se7{
    background-image: url(/img/se7.jpg);
}

.se8{
    background-image: url(/img/se8.jpg);
}



/* images for tablets */

.tb1{
    background-image: url(/img/tb1.jpg);
}

.tb2{
    background-image: url(/img/tb2.jpg);
}

.tb3{
    background-image: url(/img/tb3.jpg);
}

.tb4{
    background-image: url(/img/tb4.jpg);
}

.tb5{
    background-image: url(/img/tb5.jpg);
}

.tb6{
    background-image: url(/img/tb6.jpg);
}

.tb7{
    background-image: url(/img/tb7.jpg);
}

.tb8{
    background-image: url(/img/tb8.jpg);
}






/* images for refrigerators */

.rf1{
    background-image: url(/img/rf1.jpg);
}

.rf2{
    background-image: url(/img/rf2.jpg);
}

.rf3{
    background-image: url(/img/rf3.jpg);
}

.rf4{
    background-image: url(/img/rf4.jpg);
}

.rf5{
    background-image: url(/img/rf5.jpg);
}

.rf6{
    background-image: url(/img/rf6.jpg);
}

.rf7{
    background-image: url(/img/rf7.jpg);
}

.rf8{
    background-image: url(/img/rf8.jpg);
}


 /* images for microwave ovens */

 .mo1{
    background-image: url(/img/mo1.jpg);
}

.mo2{
    background-image: url(/img/mo2.jpg);
}

.mo3{
    background-image: url(/img/mo3.jpg);
}

.mo4{
    background-image: url(/img/mo4.jpg);
}

.mo5{
    background-image: url(/img/mo5.jpg);
}

.mo6{
    background-image: url(/img/mo6.jpg);
}

.mo7{
    background-image: url(/img/mo7.jpg);
}

.mo8{
    background-image: url(/img/mo8.jpg);
}



 /* images for air conditioner */

 .ac1{
    background-image: url(/img/ac1.jpg);
}

.ac2{
    background-image: url(/img/ac2.jpg);
}

.ac3{
    background-image: url(/img/ac3.jpg);
}

.ac4{
    background-image: url(/img/ac4.jpg);
}



 /* images for washing machinwm */

 .wm1{
    background-image: url(/img/wm1.jpg);
}

.wm2{
    background-image: url(/img/wm2.jpg);
}

.wm3{
    background-image: url(/img/wm3.jpg);
}

.wm4{
    background-image: url(/img/wm4.jpg);
}

.wm5{
    background-image: url(/img/wm5.jpg);
}

.wm6{
    background-image: url(/img/wm6.jpg);
}

.wm7{
    background-image: url(/img/wm7.jpg);
}

.wm8{
    background-image: url(/img/wm8.jpg);
}







/* css for footer */


footer{
    /* margin-top: 50px; */
    width: 100%;
    height: 350px;
    background-color: black;
    display: flex;
    color: lightgrey;
    justify-content: space-around;
    /* align-items: center; */
}


ul{
    margin-top: 50px;
}


ul>p{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;

}

ul>div{
    font-size: 13px;
    margin-top: 7px;

}

ul>div:hover{
    cursor: pointer;
    color: white;
}






/* css for footer input */




.mail{
display: flex;
} 

.mail-input{
font-size: 12px;
width: 200px;
height: 30px;
padding: 10px;
border: none;
border-left: 1px solid;
border-top: 1px solid;
border-bottom: 1px solid;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}


.mail-icon{
display: flex;
justify-content: center;
align-items: center;
color: black;
background-color: white;
border: none;
border-right: 1px solid;
border-top: 1px solid;
border-bottom: 1px solid;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

}

.fa-paper-plane{
font-size: 12px;
margin-right: 10px;
margin-left: 10px;
}

.fa-paper-plane:hover{
cursor: pointer;
transition: ease-in-out 0.2s;
transform: scale(1.3);
}



/* css for follow us section */
.follow{
font-weight: 700;
font-size: 18px;
margin-bottom: 20px;
margin-top: 50px;
}

.fa-square-facebook{
font-size: 30px;
color: white;
margin-right: 20px;
}


.fa-square-instagram{
font-size: 30px;
color: white;
margin-right: 20px;
}


.fa-square-x-twitter{
font-size: 30px;
color: white;
margin-right: 20px;
}


.fa-linkedin{
font-size: 30px;
color: white;
margin-right: 20px;
}


/* css for last company name */

.last{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company{
    background-image: url(logo\ new\ png.png);
    width: 120px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(4);
}

.designby{
    margin-top: 20px;
    color: white;
    font-size: 10px;
    font-style: italic;
}









    


